
@{
    ViewData["Title"] = "AddCart";
}
<h3>Total Price and its name</h3>


<h1>@ViewBag.MyString</h1>

<li>
    @Html.ActionLink("Submit Order", "SignUp", "Pizza", new { @class = "elements" }, null)
</li>